.wrapper footer {
	width: max-content;
	float: right;
	position: absolute;
	right: 0;
}

footer .footer-wrapper {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	width: max-content;
	height: 100px;
	background-color: transparent;
	z-index: 1;
	float: right;
}

footer .footer-wrapper button {
	height: 60px;
	width: 60px;
	border-radius: 100%;
	border: none;
	outline: none;
	background-color: #2d3339;
	margin: 20px;
}

footer .footer-wrapper button i {
	color: #1e96fc;
}
