body {
	margin: 0;
	padding: 0;
	background-color: #121416;
	height: 100vh;
}

.wrapper {
	height: 100%;
}

.wrapper footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.wrapper nav {
	position: sticky;
	top: 0;
}

.todos-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.todos-container button {
	margin: 10px 0 10px 0;
}

.todo-container {
	padding: 10px;
	width: 100%;
}